body {
    background-color: #a9d3ff;
    color: #ffffff;
    font-family: Verdana, sans-serif;
}

h2{
    color: #5a89c7;
    text-align: center;
}

h3, h4 {
    text-align: center;
}

table {
    margin: 20px auto;
    width: 80%;
}

.patient-form {
    background-color: #5a89c7; 
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #5a89c7;
    padding: 20px;
    border-radius: 8px;
}